@page
@model HandicraftSMng_HuynhNgThaiDuong_SE171581.Pages.Accounts.ChangeStatusModel

@{
    ViewData["Title"] = "Change Status";
}

<h1>ChangeStatus</h1>

<h3>Are you sure you want to change this account's status ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Account.AccountId" />
        <input type="submit" value="Change Status" class="btn btn-danger" /> |
        <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
    </form>
</div>
