@page
@model HandicraftSMng_HuynhNgThaiDuong_SE171581.Pages.Accounts.IndexModel

@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<h1 style="text-align: center; margin-bottom: 7%">Create Account</h1>

<form method="post" class="mb-5">
    <div class="d-md-inline-flex justify-content-between" style="margin-right: 57%">
        <select class="p-1" asp-for="SearchProperty">
            <option value="UserName">UserName</option>
            <option value="FullName">FullName</option>
            <option value="Email">Email</option>
        </select>
        <input asp-for="SearchValue" />
        <input type="submit" value="Search" />
    </div>
    <div class="d-md-inline-flex justify-content-between">
        <a class="btn btn-primary" asp-page="Create">Create New</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Account)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.RoleName[count])
                </td>
                <td class="justify-content-center">
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.AccountId">Edit</a> |
                    <a class="btn btn-warning" asp-page="./Details" asp-route-id="@item.AccountId">Details</a> |
                    <a class="btn btn-danger" asp-page="./ChangeStatus" asp-route-id="@item.AccountId">ChangeStatus</a>
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>

<div>
    <ul class="pagination">
        @for(var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page="/Accounts/Index" asp-route-currentpage="@i" asp-route-searchproperty="@Model.SearchProperty"
                   asp-route-searchvalue="@Model.SearchValue" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>
